<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario Categoría</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Editar{% else %}Agregar{% endif %} Categoría</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
    <a href="{% url 'lista_categorias' %}">Volver a la Lista</a>
    <a href="{% url 'pagina_principal' %}">Volver a la Página Principal</a>
</body>
</html>